# analysis.py
pandas
matplotlib
seaborn
#numpy # already comes from NER

# downloader.py
pubmed_parser
requests~=2.24

# ner.py
tensorflow==1.15.0
onnx==1.7.0
onnxruntime==1.4.0
protobuf>=3.12.3
numpy>=1.19

# export_scibert.py
transformers
torch
tqdm
#numpy # already comes from NER

# metrics.py
conlleval==0.2

